#title {
  font-family: Rubik Wet Paint;
}

#subtitle {
  font-family: Kavoon;
}

#subtitle2 {
  font-family: Modak;
}

.backgroundHeaderColour {
  background: rgb(247, 208, 96);
  background: linear-gradient(
    0deg,
    rgba(247, 208, 96, 1) 0%,
    rgba(152, 216, 170, 1) 100%
  );
}

.scaleOutCenter {
  -webkit-animation: scaleOutCenter 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: scaleOutCenter 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
